$primary-color:rgb(91, 250, 255);
h1{
    background: rgb(109, 102, 0);
    color: $primary-color;
}
p{
    background-color: $primary-color;
}
div{
    background: rgb(109, 102, 0);
    padding:20px;
    color: aliceblue;
}
ul{
    border: 2px solid $primary-color;
    padding:20px;
    margin:20px;
    
    color: $primary-color;
}